.header{
    background-color: var(--color-1);
    color: var(--myBlack);
    display: flex;
    font-size: var(--font-size_header);
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--paddingx_header);
    padding-right: var(--paddingx_header);
}



.header__menu-image{
    transition: all var(--transition_time);
}   

.header__menu-image:hover{
    color: var(--myWhite);
}

.header__userInfo{
    display: flex;
    justify-content: center;
    width: auto;
}

.header__menu-pressed,
.header__userInfo-pressed{
    display: none;
}
.userInfo__name{
    font-weight: 500;
}

.usserInfo_letter{
    background-color: var(--myBlack);
    color: var(--myWhite);
    text-align: center;
    width: 52px;
    border-radius: 99px;
    margin-left: 10px;
}

/*responsive*/

@media screen and (min-width: 768px){
    .header{
        justify-content: flex-end;
    }
    .header__menu-image{
        display: none;
    }
}

