<div class="black">
    <div class="black__container">
        <div class="black__title">
            <h2>Agregar prospecto</h2>
        </div>
        <div class="black__perfilamientoForm">
            <form action="" class="perfilamientoForm__form">
                <div class="form__personalInfo">
                    
                    <div class="personalInfo__info">
                        <label for="name" class="name">
                            Nombre: <input type="text" name="name" id="" placeholder="nombre del prospecto">
                        </label>
        
                        <label for="firstName" class="firstName">
                            Apellido Paterno: <input type="text" name="firstName" id="" placeholder="Apellido paterno">
                        </label>
        
                        <label for="lastName" class="lastName">
                            Apellido Materno: <input type="text" name="lastName" id="" placeholder="Apellido materno">
                        </label>

                        <label for="age" class="age">
                            Edad: <input type="number" name="age" id="" placeholder="0" class="mini">
                        </label>

                        <label for="money" class="money">
                            Ingreso: <input type="number" name="money" id="" placeholder="0" class="medium">
                        </label>

                        <select name="file" id="">
                            <option value="">Asalariado</option>
                            <option value="">Independiente</option>
                            <option value="">Persona moral</option>
                            <option value="">RIF</option>
                        </select>

                        <label for="value" class="value">
                            Costo: <input type="number" name="value" id="" placeholder="0" class="medium">
                        </label>

                        <label for="hook" class="hook">
                            Enganche: <input type="number" name="hook" id="" placeholder="0" class="medium">
                        </label>

                        <label for="what" class="what">
                            Que compra?: <input type="number" name="what" id="" placeholder="que compra?">
                        </label>

                        <label for="mail" class="mail">
                            Correo: <input type="text" name="mail" id="" placeholder="example@mail.com">
                        </label>

                        <label for="phone" class="phone">
                            Telefono: <input type="text" name="phone" id="" placeholder="5511112222">
                        </label>
                        <button class="btn__cancelar">Cancelar</button>
                        <button class="btn__agregar">Agregar</button>
                        
                    </div>
                    
                </div>
                
                
            </form>
        </div>
    </div>
</div>