/*inicializado el contenedor grid*/
.grid-container{
    display: grid;
    /*height: 400px;*/
    background-color: cornsilk;
    /*haciendo 3 columnas automaticas*/
    grid-template-columns: auto auto auto;
    /*tambien es posible darles valores determinados a las columnas*/
    /*grid-template-columns: 30px auto 50px;*/
    /*añadiendo el valor de las filas*/
    /*grid-template-rows: 50px auto 100px;*/

    /*centrar el contenido dentro del container*/
    /*justify-content: space-evenly;*/

    /*centrando de manera vertical*/
    /*align-content: center;*/

}

.grid-container div{
    background-color: crimson;
    text-align: center;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

.item1{
    /*decir cuantas columnas queremos que un hijo de grid 
    queremos que ocupe*/
    /*debemos decir donde inicie y donde termine*/
    /*la numeracion es un poco complicada porquw se cuenta desde 
    el inicio de la column a*

    1              2             3             4     
    |  elemento 1  |  elemento 2 |  elemento 3 |
    

    /*este elemento ocupa 2 columnas*/
    /*grid-column: 1 / 3;*/

    /*tambien es posible decirle que quemos que ocupe 2 columnas*/
    /*comienza en el 1 pero ocupa 2 columnas*/
    grid-column: 1 / span 2;

    /*diciendo que va desde una fila a otra */
    /*casi el mismo sintaxis que con colums*/
    grid-row: 1 / span 2;

    /*la grid area engloba a los 2*/
    /*1: inicia en la fila numero 1
    2: inicia en la columna numero 2
    5: en que fila finaliza
    5: en que columna finaliza*/
    grid-area: 1 / 2 / 5 / 5;
}