<header>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/albert">Biografía de Albert Entrein</a></li>
      <li><a routerLink="/homelander">Biografía de Homelander</a></li>
      <li><a routerLink="/omniman">Biografía de Omniman</a></li>
      <li><a routerLink="/formulario">Formulario</a></li>
      <li><a routerLink="/servicios">Servicios</a></li>
      
    </ul>
  </nav>
</header>
<main>
</main>
  <router-outlet/>
<footer>
  <h2>Esto es un footersote</h2>
</footer>
