<header class="header">
    <div class="header__logo">
        SOC
    </div>
    
    <div class="header__count">
        <div class="count__notifications">
            <div class="notifications__bell icon">
                <i class="fa-solid fa-bell"></i>
            </div>
            <div class="notifications__circle">
                5
            </div>
        </div>

        <div class="count__user">
            <div class="user__logo icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </div>
</header>