<section class="main">
    <nav class="main__functions">
        <div class="function__listaMeta-block">
            <a href="/lista" class="function__listaMeta-link">
                <i class="fa-solid fa-list"></i> Lista de Metas
            </a>
        </div>
        
        <div class="function__nuevaMeta-block">
            <a href="/crear" class="function__nuevaMeta-link">
                <i class="fa-solid fa-circle-plus"></i> Nueva Meta
            </a>
        </div>
    </nav>

    <main>
        <router-outlet></router-outlet>
    </main>
</section>
