<div class="menu">
    <div class="miniHeader">
        <button class="miniHeader__back" [class.miniHeader__back-pressed]="noPressed" (click)="showMenu()">
            <i class="fa-solid fa-arrow-left"></i>
        </button>

        <div class="miniHeader__Logo">
            <div class="miniHeader__Img">
                <i class="fa-solid fa-tooth"></i>
            </div>
            <div class="miniHeader__text">
                <p>Consultorio</p>
                <p>Odontologico</p>
            </div>
        </div>
    </div>

    <div class="gestion">
        <ul>
            <li><app-dropdown title="Odontólogos" icon="fa-solid fa-hospital-user" showLink="'/'" createLink="'/'" minusculas="odontólogos" unidad="odontólogo"></app-dropdown></li>
            <li><app-dropdown title="Pacientes" icon="fa-solid fa-user" showLink="'/'" createLink="'/'" minusculas="pacientes" unidad="paciente"></app-dropdown></li>
        </ul>
    </div>
</div>
