span{
  color: brown;
  border: 1px solid black;
  font-weight: bold;
}

h1{
  color: #f72585;
  text-align: center;
}

h2{
  color: blue;
}

p{
  color: rgba(75, 93, 143, 0.548);
}

div{
  border: 5px solid black;
  background-color: antiquewhite;
  text-align: center;
}